<div class="container">
    <div class="row">
        <div class="col-md-5 size" style="background-color: RGB(128, 128, 128)">
            <img class="profile" src="assets/download.jpg" alt="loading">
            <div class="text">
                <h2 id="name">Ramchandra</h2>
                <h6 style="margin-left: 30px"> <span style="color: rgb(34, 139, 165)"> Freelancer</span> In India</h6>
            </div>
            <div class="w3-container">
                
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Hyderabad, IND</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ramchandra0822@gmail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91 6302857458</p>
                    <hr>
            </div>
            <div class="copy" style="margin-top: 20px">
                <p style="margin-left: 80px">&#169;Copyright: &#169; 2019 All rights reserved |<br>
                    this Template is made by ram</p>

            </div>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
                <div class="items" style="margin-top: 200px">
                        <a href="ram#skills"><h3 style="color: rgb(34, 139, 165)">Skills</h3></a>
                        <br>
                        <a href="ram#education"><h3 style="color: rgb(34, 139, 165)">Education</h3></a>
                        <br>
                        <a href="ram#project"><h3 style="color: rgb(34, 139, 165)">projects</h3></a>
                        <br>
                        <a href="ram#about"><h3 style="color: rgb(34, 139, 165)">About</h3></a>
                    </div>

        </div>
    </div>
</div>

<div id="skills">
    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>SKILLS:</b></p>
    <p><b>Android Application</b> </p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
    </div>
    <p><B> Web Designing</B></p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
            <div class="w3-center w3-text-white">50%</div>
        </div>
    </div>
    <p> <b>Sql</b></p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
    </div>
    <p><b>python</b> </p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
    </div>
</div>
<div id="education" style="margin-top: 20px;">
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>EDUCATION:</b></p>
    <h5><b>Osmania University</b></h5>
    <h6><b>Masters</b> </h6>
    <p>Embedded computer systems</p>
    <hr>
    <h5><b>GuruNanak Engineering college</b></h5>
    <h6>Btech</h6>
    <p>Computer Science and Engineering</p>
    <hr>
    <h5><b>Inter</b></h5>
    <h6>MPC</h6>
    <hr>
</div>
<div id="project" >
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>PROJECTS:</b></p>
    <h4>Description</h4>
    <p> We developed a mobile applicxation named "GNI-TRANSPORT" for our college transport department.</p>
    <p> <b><h4>Features:</h4></b> Individual bus route map, real time notifications from transport department, selection <br> of primary route,
        college sattilete view, register complaints, emergency services. </p>
         <a href="https://github.com/R4MCH4NDR4/Gni-Transport/">  <span  style="color: rgb(34, 139, 165)"></span><b>Github:</b>"https://github.com/R4MCH4NDR4/Gni-Transport"</a>
</div>
<div id="about" style="margin-top: 20px;">
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>ABOUT:</b></p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cumque, aliquid non numquam, ea quo quibusdam itaque quod, corporis rerum quas debitis omnis distinctio earum autem eveniet illo qui quos modi culpa ad nostrum delectus voluptatem architecto! Libero molestiae, ea laboriosam commodi amet quidem repellendus temporibus rem repellat, eius ipsam!</p>
</div>