<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand"routerLink="/home">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Souvik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Divya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Kalyani</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Ram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Shanmukhi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Sreeram</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/souvik" routerLinkActive="active">Santosh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/vittal" routerLinkActive="active">Vittal</a>
            </li>
        </ul>
    </div>
</nav>